@page
@model Apkaweb.Pages.ChangePasswordModel
@{
    var username = User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    <title>Change Password Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-danger {
            margin-right: 5px;
            margin-top: 10px;
            padding: 10px;
            font-size: 20px;
            width: 255px;
            align-content: center;
            margin-left: 5px;
        }

        .box {
            margin: 5px;
            margin-top: 15px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            max-width: 100%;
            text-align: left;
        }

        .flex-container {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        input {
            width: 500px;
        }

        .btn-primary {
            padding: 3px;
            margin-top: 15px;
            margin-left: 350px;
            width: 150px;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-between">
        <h1>Change Password</h1>
        <a href="/User" class="btn btn-danger"><b>Cancel password change</b></a>
    </div>
    <div class="box">
        <form method="post" id="changePasswordForm" onsubmit="return validatePasswords()">
            <div class="flex-container">
                <label asp-for="CurrentPassword">Current password:</label>
                <input asp-for="CurrentPassword" type="password" id="CurrentPassword" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>
            <div class="flex-container">
                <label asp-for="NewPassword">New password:</label>
                <input asp-for="NewPassword" id="NewPassword" type="password" />
                <span asp-validation-for="NewPassword" id="newPasswordError" style="color: red;"></span>
                <label>Confirm new password:</label>
                <input id="ConfirmNewPassword" type="password" />
                <span id="confirmPasswordError" style="color: red;"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>

<script>
    document.getElementById("changePasswordForm").onsubmit = function () {
        var newPassword = document.getElementById("NewPassword").value;
        var confirmNewPassword = document.getElementById("ConfirmNewPassword").value;
        var currentPassword = document.getElementById("CurrentPassword").value;

        // sprawdzenie czy nowe hasła się zgadzają ze sobą
        if (newPassword !== confirmNewPassword) {
            document.getElementById("confirmPasswordError").innerText = "Passwords do not match.";
            return false;
        } else {
            document.getElementById("confirmPasswordError").innerText = "";
        }

        // sprawdzenie czy stare i nowe hasło nie jest takie same
        if (currentPassword === newPassword) {
            document.getElementById("confirmPasswordError").innerText = "Current and new passwords cannot be the same.";
            return false;
        } else {
            document.getElementById("confirmPasswordError").innerText = "";
        }
    };
</script>
