@page
@model Apkaweb.Pages.OptionsModel

<!DOCTYPE html>
<html>
<head>
    <title>Account page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .btn-primary {
            width: 600px;
            height: 70px;
            font-weight: bold;
            font-size: 25px;
        }

        .btn-outline-primary {
            width: 600px;
        }

        .btn-danger {
            width: 300px;
        }

        .page-button {
            margin-top: 20px;
            text-align: center;
        }

        .page-button {
            margin-top: 50px;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="form-group">
        <h2>Menu</h2>
        <form method="post">
            <div class="page-button">
                <button type="submit" class="btn btn-primary" asp-page-handler="ShowMessages">Join chat</button>
            </div>
        </form>
        <form method="post">
            <div class="page-button">
                <button type="submit" class="btn btn-outline-primary" asp-page-handler="Permissions">Modify permissions</button>
            </div>
        </form>
        <form method="post">
            <div class="page-button">
                <button type="submit" class="btn btn-outline-primary" asp-page-handler="UserPage">My account</button>
            </div>
        </form>
        <form method="post">
            <div class="page-button">
                <button type="submit" class="btn btn-danger" asp-page-handler="Logout">Log out</button>
            </div>
        </form>
    </div>
</body>
</html>
