@page
@model Apkaweb.Pages.RegisterModel

<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-input {
            margin-bottom: 10px;
            width: 900px;
        }

        .page-button {
            margin-top: 20px;
            text-align: center;
        }

        .btn-primary {
            width: 300px;
        }

        .btn-secondary {
            width: 300px;
        }

        .box {
            width: 400px;
            height: 100px;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .box div {
                text-align: center;
            }

        select {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333" width="18px" height="18px"><path d="M7 10l5 5 5-5z" /></svg>');
            background-repeat: no-repeat;
            background-position: right center;
        }

        .alert-danger {
            width: 600px;
            margin-top: -230px;
            text-align: center;
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.5s ease;
            opacity: 0;
        }

        .alert-show {
            display: block;
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="form-group">
        <h2>Register</h2>
        <form method="post" id="registrationFrom">
            <div class="form-input">
                <label for="usernameInput">Username:</label>
                <input type="text" class="form-control" id="usernameInput" name="Username" placeholder="Enter your username">
            </div>
            <div class="form-input">
                <label for="passwordInput">Password:</label>
                <input type="password" class="form-control" id="passwordInput" name="Password" placeholder="Enter your password">
            </div>
            <div class="form-input">
                <label for="securityQuestion">Security Question:</label>
                <select class="form-control" id="securityQuestion" name="SecurityQuestionId">
                    <option value="">Select a security question</option>
                    @foreach (var question in Model.SecurityQuestions)
                    {
                        <option value="@question.Id">@question.QuestionText</option>
                    }
                </select>
                <input type="hidden" id="selectedQuestionId" name="SelectedQuestionId" value="">
            </div>
            <div class="form-input">
                <label for="answerInput">Answer:</label>
                <input type="text" class="form-control" id="answerInput" name="Answer" placeholder="Enter your answer">
            </div>
            <div class="alert alert-danger" role="alert" id="errorMessage">
                Please fill in all the fields before continuing.
            </div>
            <div class="page-button">
                <button type="submit" class="btn btn-primary" id="signUpBtn">Sign up</button>
            </div>
        </form>
        <div class="box">
            <div>
                <p>Already have an account?</p>
                <a href="/Index" class="btn btn-secondary">Sign in</a>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    var dropdown = document.getElementById("securityQuestion");

    dropdown.addEventListener("change", function () {
        var selectedOption = dropdown.options[dropdown.selectedIndex];

        var selectedQuestionId = selectedOption.value;

        document.getElementById("selectedQuestionId").value = selectedQuestionId;
    });

    document.addEventListener("DOMContentLoaded", function () {
        var signUpBtn = document.getElementById("signUpBtn");
        var usernameInput = document.getElementById("usernameInput");
        var passwordInput = document.getElementById("passwordInput");
        var securityQuestion = document.getElementById("securityQuestion");
        var answerInput = document.getElementById("answerInput");
        var errorMessage = document.getElementById("errorMessage");
        var registrationForm = document.getElementById("registrationFrom");

        signUpBtn.addEventListener("click", function (event) {
            event.preventDefault(); // zapobieganie przejścia do strony /Error

            if (usernameInput.value === "" || passwordInput.value === "" || securityQuestion.value === "" || answerInput.value === "") {
                errorMessage.classList.add("alert-show");
                setTimeout(function () {
                    errorMessage.style.opacity = '0';
                    setTimeout(function () {
                        errorMessage.classList.remove("alert-show");
                        errorMessage.style.opacity = '1';
                    }, 3000); // czas animacji komunikatu w milisekundach
                }, 4000); // czas wyświetlania komunikatu w milisekundach
            } else {
                errorMessage.style.display = "none";
                registrationForm.submit();
            }
        });
    });
</script>
